body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div.card {
  padding-top: 1rem;
  justify-content: center;
  align-items: normal;
  background-color: #262857;
  align-content: center;
  left: 50%;
  vertical-align: middle;
  margin: 8px;
  min-width: 15rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px 5px #262857;
  max-width: 400px;
  min-width: 400px;
  text-align: center;
}
p.bio {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  vertical-align: top;
  left: 16px;
  top: auto;
  position: relative;
  font-weight: 600;
  color: white;
}
p.name {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  margin: 32px;
  color: white;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}
img.profile {
  margin: 1rem;

  position: relative;
}
button.menu {
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: black;
  height: 32px;
  border-radius: 32px;
  border-color: white;
  border-style: solid;
  background-color: #ffef00;
  border-width: 4px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  margin: 8px;
}
button.menu:hover {
  background-color: white;
}
button.menu:active {
  background-color: white;
}
div.header {
  background-color: #ffef00;
  margin: 8px;
}

.cards {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#back {
  position: fixed;
  bottom: 0;
  right: 0;
}

h1 {
  text-align: center;
  color: #ffef00;
  font-family: "Roboto", sans-serif;
  font-weight: 100;

  font-size: 128px;
}
