body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div.profile {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: rgba(127, 255, 212, 0.5);
    align-items: center;
    position: relative;
    height: fit-content;
}
div.card {
    display:inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: normal;
    width: fit-content;
    background-color: rgba(106, 106, 255, 0.25);
    align-content: center;
    left: 50%;
    vertical-align: middle;
    margin:8px;
}
p.bio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    vertical-align: top;
    left: 16px;
    top:auto;
    position: relative;
}
p.profile {
    margin: 32px;
    color:black;
    position: relative;
    font-size: 24px;
    font-weight: bolder;
}
img.profile {
    margin: 16px;
    margin-top: 8px;
    position: relative;
}
button.menu { 
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    height: 32px;
    border-radius: 32px;
    border-color: aqua;
    border-style: groove;
    background-color: rgba(127, 255, 212, 0.5);
    border-width: 4px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    position: relative;
    margin: 8px;
}
button.menu:hover {
    background-color: #00ffff;
    opacity: 25%;
}
button.menu:active {
    background-color: lightskyblue;
}
div.header {
    background-color: rgba(127, 255, 212, 0.5);
    margin: 8px;
}